{% extends 'base.html' %}

{% block title %}Delete{% endblock %}

{% block menu %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'create_poll' %}"> Create Poll <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'watch_poll' poll.pk %}"> Cancel <span class="sr-only">(current)</span></a>
      </li>
{% endblock %}

{% block content %}
    <h1>Вы уверены, что хотите удалить этот опрос из базы : <br> "{{ poll.question }}"?</h1>
    <p> Created_at:{{ poll.created_at }} </p>
    <form action="{% url "delete_poll" poll.pk %}" method="post">
        {% csrf_token %}
        <p><input type="submit" value="Да"></p>
        <p><a href="{% url 'watch_poll' poll.pk %}">Отмена</a></p>
    </form>
{% endblock %}
